#parent{background: steelblue; display:flex; height:100px; flex- direction: row-reverse;}

.child{width:100px}

.child1{background: skyblue;}
.child2{background: powderblue;}
.child3{background: cadetblue;}
