#parent{background: steelblue; display:flex; height:100px; flex- direction: row;}

.child{width:100px}

.child1{background: skyblue;}
.child2{background: powderblue;}
.child3{background: cadetblue;}

.child4{background: indianred;}
.child5{background: salmon;}
.child6{background: firebrick;}

.child7{background: yellowgreen;}
.child8{background: olivedrab;}
.child9{background: olive;}